<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>Node All Admin</span></a>
        </div>
        <div class="clearfix"></div>

        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <uib-tabset>
                <uib-tab heading="Schemas">
                    <div class="menu_section">
                        <ul class="nav side-menu">
                            <li ng-repeat="schemaLevel1 in schemaData">
                                <a ng-click="expand = !expand"><i class="fa fa-home"></i> {{schemaLevel1.name}} <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style=" " class="slide" ng-show="expand">
                                        <li ng-repeat="schemaLevel2 in schemaLevel1.children">
                                            <a ng-click="level2Expand = !level2Expand"><i class="fa fa-database"></i> {{schemaLevel2.name}} <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style=" " ng-show="level2Expand">
                                                <li ng-repeat="schemaLevel3 in schemaLevel2.children">
                                                    <a ng-click="level3Expand = !level3Expand"><i class="fa fa-th fa-2x"></i> {{schemaLevel3.name}} <span class="fa fa-chevron-down"></span></a>
                                                    <ul class="nav child_menu" style=" " ng-show="level3Expand">
                                                        <li ng-repeat="schemaLevel4 in schemaLevel3.children">
                                                            <a ng-click="endClick(schemaLevel4.id)"> <i class="fa fa-th fa-2x"></i> {{schemaLevel4.name}} </a>
                                                        </li> 
                                                    </ul>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                    </ul>
                            </li>
                        </ul>
                    </div>
                </uib-tab>
                <uib-tab heading="Management">
                    This is tab One Schemas        
                </uib-tab>
            </uib-tabset>    
        </div>
        <!-- /sidebar menu -->                  
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>  