[{"uuid":"N1-MPb6tl","connectionName":"This is mpdified","ipaddress":"127.0.0.1","port":80},{"uuid":"NJl-zvW6Yl","connectionName":"connobj2","ipaddress":"127.0.0.1","port":80},{"uuid":"V15GDWatg","connectionName":"This is mpdified","ipaddress":"127.0.0.1","port":80},{"uuid":"4Jx5Mvb6Fg","connectionName":"connobj2","ipaddress":"127.0.0.1","port":80}]